@import "../../style/mixin.scss";

.main.train {
  position: absolute;
  @include wh(100%, 140vw);
  @include bgImg("../../assets/img/train.png");
  top: 10vw;
  left: 0;
  .route {
    position: absolute;
    text-align: center;
    top: 43vw;
    button {
      display: inline-block;
      width: 70vw;
      height: 22vw;
      margin-bottom: 5vw;
      animation-name: fadeInLeft;
      &:first-child {
        background-image: url("../../assets/img/train_01.png");
      }
      &:nth-child(2) {
        background-image: url("../../assets/img/train_02.png");
        animation-delay: 0.25s;
      }
      &:nth-child(3) {
        background-image: url("../../assets/img/train_03.png");
        animation-delay: 0.5s;
      }
    }
  }
}
