@import "../../style/mixin.scss";

.main.index {
  @include wh(100%, 100vh);
  @include bgImg("../../assets/img/index_bg.jpg");
  .music_btn {
    top: 5vw;
  }
  .route {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 23rem;
    div {
      button {
        @include wh(5.25rem, 2.25rem);
      }
      &:first-child {
        button {
          &:first-child {
            @include bgImg("../../assets/img/index_01.png");
          }
          &:nth-child(2) {
            @include bgImg("../../assets/img/index_02.png");
          }
          &:nth-child(3) {
            @include bgImg("../../assets/img/index_03.png");
          }
        }
      }
      &:nth-child(2) {
        button {
          &:first-child {
            @include bgImg("../../assets/img/index_04.png");
          }
          &:nth-child(2) {
            @include bgImg("../../assets/img/index_05.png");
          }
          &:nth-child(3) {
            @include bgImg("../../assets/img/index_06.png");
          }
        }
      }
    }
  }
}
